<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Hair Salon</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="jumbotron">
					<h1>IGIT HAIR SALON</h1>
				</div>
				<div class="row">
					<h1>Your Clients List</h1>

					@if (@Model.Count == 0)
					{
					  <h2>No clients have been assigned to you yet!</h2>
					}

					else
					{
					  <h2>Here is your clients list:</h2>

					    @foreach (var client in Model)
					    {
					      <h3><a href="/client/@client.GetId()">@client.GetName()</a></h3>
					    }
					}

					<div class="footer-links">
				    <h4><a href="/clients/new">Add a new client.</a></h4>
				    <h4><a href="/">Return to Main Page.</a></h4>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
