<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Hair Salon</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="jumbotron">
					<h1>IGIT HAIR SALON</h1>
				</div>
				<div class="row">
					<h1>Client Info</h1>

					<h3>Name: @Model["client"].GetName()</h3>
					<h4>Stylist: @Model["stylist"].GetName()</h4>

					<div class="footer-links">
				    <h4><a href="/client/Update/@Model["client"].GetId()"> Update this client.</a></h4>
				    <h4><a href="/stylist/@Model["stylist"].GetId()/new_client">Add new client to same stylist.</a></h4>
				    <h4><a href="/clients">View all clients.</a></h4>
				    <h4><a href="/">Main Page</a></h4>
						<form class="" action="/client/delete/@Model["client"].GetId()" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" name="button" class="btn btn-danger">Click here to delete this client</button>
						</form>

					</div>

				</div>
			</div>
		</div>
	</body>
</html>
