<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Hair Salon</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="jumbotron">
					<h1>IGIT HAIR SALON</h1>
				</div>
				<div class="row">
					<h2>Add a New Client</h2>

					<form action="/clients/new" method="post">
				  <label for="client-name">Client name:</label>
				  <input id="client-name" name="client-name" type="text">
				  <select name="stylistId">
				    @foreach (var stylist in Model)
				    {
				      <option value="@stylist.GetId()">@stylist.GetName()</option>
				    }
				  </select>
				  <button type="submit">Add new client</button>
					</form>

					<h2><a href="/">Main Page</a></h2>
					<h2><a href="/clients">View all clients</a></h2>

				</div>
			</div>
		</div>
	</body>
</html>
